html {
  height: 100%;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: auto;
  box-sizing: border-box;
}

header {
  padding: 115px 0 32px 0;
  background-color: #00bcd4;
  color: white;
}

main, header > h1 {
  padding: 0 16px;
  max-width: 760px;
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  margin: 24px auto;
  box-sizing: border-box;
}

pre {
  white-space: pre-wrap;
  background-color: #EEEEEE;
  padding: 16px;
}

pre code {
  word-break: break-word;
}

.is-invisible {
  opacity: 0;
}

.subscription-details {
  transition: opacity 1s;
}

@media (max-width: 600px) {
  header > h1 {
    font-size: 36px;
  }
}

#notificaciones {
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 30px;
  right: 20px;
}

#notification {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 0.25rem;
  border-top: 3px solid #3c8dbc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  animation: fadeIn 0.5s ease forwards;

  margin: 10px;
  z-index: 1000;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

#notification:hover {
  background-color: #f7f7f7;
  cursor: pointer;
  /*box-shadow: 0px 0px 10px 1px #000000;*/
}

.hidden {
  display: none;
}

#notification img {
  display: flex;
  align-items: start;
  width: auto;
  height: fit-content;
  min-height: 30px;
  min-width: 30px;
  margin-right: 20px;
}

#notification h2 {
  margin-bottom: 10px;
  font-size: larger;
  color: #333;
  white-space: normal;
  word-wrap: break-word;
  max-width: fit-content;
  overflow: hidden;
}
#notification p {
  color: #333;
  white-space: normal;
  word-wrap: break-word;
  overflow: auto;
  max-width: 260px;
  margin-top: -8px;
}

#closeNotificationButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 5px;
}

#closeNotificationButton:focus,
#closeNotificationButton:hover {
  background-color: #333;
  color: #333;
}

#closeNotificationButton:focus:not(:active),
#closeNotificationButton:hover:not(:active) {
  background-color: #d3d3d3;
}

#closeNotificationButton:active {
  background-color: #666;
}

#closeNotificationButton span {
  font-size: 1.5em;
}

.notification-bar {
  height: 5px; 
  width: 100%; 
  background-color: #ccc; 
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; 
}

.notification-bar-progress {
  height: 100%;
  width: 100%;
  background-color: #3c8dbc; 
  animation: progressAnimation 10s linear; 
}

@keyframes progressAnimation {
  0% { width: 100%; } 
  100% { width: 0; } 
}

@keyframes notification {
  
}

.notification.show {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Añadir transformación */
}

.notification.hide {
  opacity: 0;
  transform: translateY(20px); /* Añadir transformación */
}

